
{% extends 'base.html' %}

{% block content %}

<div class="container"> 
<div class="row">

<div class="col-md-4">
      <h2>电影1</h2>
      <p>电影简介1</p>
      <p><a class="btn btn-default" href="#" role="button">观看 &raquo;</a></p>
</div>
<div class="col-md-4">
      <h2>电影2</h2>
      <p>电影简介1</p>
      <p><a class="btn btn-default" href="#" role="button">观看 &raquo;</a></p>
</div>
<div class="col-md-4">
      <h2>电影2</h2>
      <p>电影简介1</p>
      <p><a class="btn btn-default" href="#" role="button">观看 &raquo;</a></p>
</div>

</div>
</div>

{% endblock %}
